<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org ">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
   <th:block th:replace="base :: nav"></th:block>
   <div class="section section-signup" style="background-image: url('https://static.pexels.com/photos/227722/pexels-photo-227722.jpeg'); background-size: cover; background-position: top center; min-height: 700px;">
       <div class="container">
           <div class="row">
               <div class="card card-signup" data-background-color="orange">
                   <form class="form" th:action="@{/login}" method="post">
                       <div class="alert alert-success" th:if="${message !=null}" role="alert">
                           <p th:text="${message}"/>
                       </div>

                       <br />
                       <div th:if="${param.error}" class="container">
                          <p>Invalid username and password.</p>
                       </div>
                       <div th:if="${param.logout}" class="container">
                           <p>You have been logged out.</p>
                       </div>
                       <div class="header header-primary text-center">
                           <h4 class="title title-up"> The Gram Login</h4>
                            <p>Created by Daylin Henry</p>
                       </div>
                       <div class="content">
                           <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                               <input type="text" id="username" name="username" class="form-control" placeholder="Username"/>
                           </div>

                           <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                        </span>
                               <input type="password" id="password" name="password" placeholder="password" class="form-control" />
                           </div>
                           <!-- If you want to add a checkbox to this form, uncomment this code -->
                           <!-- <div class="checkbox">
                             <input id="checkboxSignup" type="checkbox">
                                 <label for="checkboxSignup">
                                 Unchecked
                                 </label>
                               </div> -->
                       </div>
                       <div class="footer text-center">
                           <button  type="submit" class="btn btn-neutral btn-round btn-lg">Sign In</button>
                       </div>
                   </form>
               </div>
           </div>

       </div>
   </div>

</body>
</html>