<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="/upload" enctype="multipart/form-data" th:object="${post}">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="Submit" />
</form>
<div th:if="${message}">
    <h2 th:text="${message}"/><br/><br/>
</div>
<div th:if="${imageurl} != null">
    <img th:src="${imageurl}" />
    <hr />
</div>
</body>
</html>